@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Uncial+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("assets/images/notebook.png");
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.todo-app h1 {
    font-size: 2rem;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input {
    flex: 1;
    padding: 15px 19px;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 20px;
    background: rgba(213, 109, 244, 0.582);
    color: #dbdbdb
}

.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 11px;
    padding: 10px;
    border-radius: 51%;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgba(255, 190, 200, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background-color: #ff6f91;
}

.todos-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    width: 100%;

}